@import 'variables';
@import 'mixins';
@import 'desktop';
@import 'tablet';
@import 'mobile';

* {
  margin: $margin-global;
}


nav * {
  /* afectar a cualquier elemento dentro de la nav */
  display: inline-block;
  margin: $configuration-nav-margin;/* top right bottom left */
  background-color: $nav-bg-color;
}

nav *:hover {
  /* afectar a cualquier elemento dentro de la nav */
  flex-grow: 1;
  text-align: center;
}


.alineado {
  order: 4;
}

.segundo {
  order: -1;
}

#container-main {
  grid-template-columns: $configuration-container-main-columns;
  grid-template-rows: $configuration-container-main-rows;
  height: 600px;
  width: 100%;
  margin-bottom: 48px;
  grid-template-areas: $configuration-container-main-areas;
  gap: 16px;
}

main {
  margin-top: 48px;
}

.container-image {
  grid-area: imagen;
}

.container-image * {
  width: 100%;
  height: 100%;
}

.primer-parrafo {
  grid-area: texto1;
}

.segundo-parrafo {
  grid-area: texto2;
}

.video {
  grid-area: video;
}

.video * {
  width: 100%;
  height: 100%;
}


#container-main :nth-child(3), #container-main :nth-child(2) {
  padding: 16px;
}

.container-accionables {
  display: flex;
  justify-content: space-evenly;
}

.container-accionables * {
  padding: 4px 8px;
  font-size: 16px;
}

.container-final {
  display: flex;
  justify-content: space-between;

  & > * {
    width: 50%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 80%;

    :last-child {
      display: flex;
      gap: 4px;
      justify-content: center;
    }

    > input {
      @include formControls;

      &[type=button] {
        border: .5px black solid;
        padding: .5px;
        font-size: 16px;
      }
    }
  }
}

/* bootstrap extended classes  */

.m-4\/5 {
  margin: 72px;
}