$configuration-container-main-columns: auto 25% 25%;
$configuration-container-main-rows: 50% 50%;
$configuration-container-main-areas: "imagen texto1 texto1"
                                     "imagen texto2 video";
$configuration-border-global: 2px red solid;
$margin-global: 0;
$configuration-nav-margin: 0 2px;
$nav-bg-color: bisque;